html {
  background-color: rgb(85, 85, 195);
}

.clock-face {
  background-color: rgb(254, 255, 244);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
}

.hand {
  background-color: black;
  border-radius: 5px 5px 50% 50%;
}

.min-hand {
  width: 8px;
  height: 130px;
  position: absolute;
  left: 121px;
  top: 110px;
  border: none;
  transform: rotate(-45deg);
  transform-origin: 50% 15px;
}
/* .min-hand {
  width: 10px;
  height: 125px;
  position: absolute;
  left: 120px;
  top: 50%;
  transform-origin: top;
} */

.hour-hand {
  width: 12px;
  height: 100px;
  position: absolute;
  left: 119px;
  top: 115px;
  transform: rotate(90deg);
  transform-origin: 50% 10px;
}

.second-hand {
  background-color: red;
  width: 2px;
  height: 130px;
  position: absolute;
  left: 124px;
  top: 110px;
  border: none;
  transform: rotate(45deg);
  transform-origin: 50% 15px;
}

.axle {
  background-color: rgb(85, 85, 195);
  border: 2px solid rgb(188, 188, 239);
  height: 2px;
  width: 2px;
  position: absolute;
  left: 122px;
  top: 122px;
  border-radius: 50%;
}