html {
  background-color: rgb(85, 85, 195);
}

.clock-face {
  background-color: rgb(254, 255, 244);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
}

.hand {
  background-color: black;
  border-radius: 5px 5px 50% 50%;
}

.min-hand {
  width: 8px;
  height: 115px;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%) rotate(180deg);
  transform-origin: 50% 10%;
  transition: 0.5s;
}

.hour-hand {
  width: 12px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%) rotate(180deg);
  transform-origin: 50% 10%;
  transition: 0.5s;
}

.second-hand {
  background-color: red;
  width: 2px;
  height: 115px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%) rotate(180deg);
  transform-origin: 50% 10%;
  transition-timing-function: cubic-bezier(0, 2.3, 0.61, 0.95);
  transition-duration: 0.1s;
}

.axle {
  background-color: rgb(85, 85, 195);
  border: 2px solid rgb(188, 188, 239);
  border-radius: 50%;
  height: 2px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.tick {
  position: absolute;
  background-color: black;
  height: 8px;
  width: 4px;
  left: 50%;
  top: 50%;
}

#tick-1 {
  transform: translate(-50%, -50%) rotate(-150deg) translate(0, 115px);
}
#tick-2 {
  transform: translate(-50%, -50%) rotate(-120deg) translate(0, 115px);
}
#tick-3 {
  transform: translate(-50%, -50%) rotate(-90deg) translate(0, 115px);
}
#tick-4 {
  transform: translate(-50%, -50%) rotate(-60deg) translate(0, 115px);
}
#tick-5 {
  transform: translate(-50%, -50%) rotate(-30deg) translate(0, 115px);
}
#tick-6 {
  transform: translate(-50%, -50%) rotate(0deg) translate(0, 115px);
}
#tick-7 {
  transform: translate(-50%, -50%) rotate(30deg) translate(0, 115px);
}
#tick-8 {
  transform: translate(-50%, -50%) rotate(60deg) translate(0, 115px);
}
#tick-9 {
  transform: translate(-50%, -50%) rotate(90deg) translate(0, 115px);
}
#tick-10 {
  transform: translate(-50%, -50%) rotate(120deg) translate(0, 115px);
}
#tick-11 {
  transform: translate(-50%, -50%) rotate(150deg) translate(0, 115px);
}
#tick-12 {
  transform: translate(-50%, -50%) rotate(180deg) translate(0, 115px);
}